
    .form-container h3 {
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input, .form-group textarea, .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
    }

.file-upload-container {
    display: flex;
    align-items: center;
}

    .file-upload-container .file-upload {
        width: 70%;
    }

    .file-upload-container .btn {

        margin-left: 10px;
    }

.uploaded-image {
    display: block;
    margin-top: 10px;
    max-width: 100%;
}
